<div id="upload-box">
  <i class="fa fa-times close-button" aria-hidden="true" onclick={{this.hideResult}}></i>
  <div id="results-content">
    <div class="form-group results-area">
      <label>Converted Text:</label>
      {{textarea class="form-control" rows="5" value=this.result}}
    </div>
    <div id="save-box">
      <div class="form-group filename">
        <label>Filename:</label>
        {{input class="form-control" value=filename type="text"}}
      </div>
      {{#if this.noName}}
        <p class="error-message">Please enter a filename above.</p>
      {{/if}}
      <button id="sign-in-btn" class="btn btn-primary" onClick={{action "createGoogleDoc"}}>
        <i class="fa fa-google" style="color:white"></i>
        <span class="button-text">Save to Google Drive</span>
      </button>
      <button id="sign-in-btn" class="btn btn-success" onClick={{action "downloadFile"}}>
        <i class="fa fa-download"></i>
        <span class="button-text">  Download Local File  </span>
      </button>
    </div>
  </div>
</div>