<div id="upload-box">
  <i class="fa fa-times close-button" aria-hidden="true" onclick={{this.hideShare}}></i>
  <div id="created-docs">
    {{#each documents as |d index|}}
      {{#if (eq (mod index 2) 0)}}
        <div class="document-card-even">
          <p>{{d.created_on}}</p>
          <h4>{{d.title}}</h4>
          <div class="share-btn" onclick={{action "selectDocument" d.id d.title}}>
            <i class="fa fa-share"></i>
          </div>
        </div>
      {{else}}
        <div class="document-card-odd">
          <p>{{d.created_on}}</p>
          <h4>{{d.title}}</h4>
          <div class="share-btn" onclick={{action "selectDocument" d.id d.title}}>
            <i class="fa fa-share"></i>
          </div>
        </div>
      {{/if}}
    {{else}}
      <div id="no-docs">
        <h2>Oops!</h2>
        <img src="/assets/images/broken.jpeg">
        <h5>It seems that you haven't created any documents yet. You can upload images of handwriting via the
          <b>Upload Image(s)</b> button.</h5>
      </div>
    {{/each}}
  </div>
</div>