<div id="upload-box">
  <i class="fa fa-times close-button" aria-hidden="true" onclick={{this.hideShareDocument}}></i>
  <div id="share-docs">
    <h2>Document Title: {{this.title}}</h2>
    <h5>Please enter the email address(es) of the people you would like to share this document with.</h5>
    {{#power-select-multiple
      selected=selected
      onchange=(action (mut selected))
      onkeydown=(action "createOnEnter")
      as |number|}}
      {{number}}
    {{/power-select-multiple}}
    <div id="permissions">
      <input type="radio" class="permission-button" id="pButton1"
             checked={{eq permission "organizer/owner"}} onclick={{action (mut permission) "organizer/owner"}}/>
      <label for="pButton1">Owner</label>
      <input type="radio" class="permission-button" id="pButton2"
             checked={{eq permission "writer"}} onclick={{action (mut permission) "writer"}}/>
      <label for="pButton2">Writer</label>
      <input type="radio" class="permission-button" id="pButton3"
             checked={{eq permission "commenter"}} onclick={{action (mut permission) "commenter"}}/>
      <label for="pButton3">Commenter</label>
      <input type="radio" class="permission-button" id="pButton4"
             checked={{eq permission "reader"}} onclick={{action (mut permission) "reader"}}/>
      <label for="pButton4">Reader</label>
      <button class="sign-in-btn" class="btn btn-outline-primary" onclick={{action "shareDocument"}}>
        <i class="fa fa-google" style="font-size:25px;margin-top:2px"></i>
        <span class="button-text" style="font-size:20px;">Share with Google</span>
      </button>
    </div>
  </div>
</div>